@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Merriweather", serif;
    font-weight: 400;
   
  }
*{
    margin: 0px;
    padding: 0px;
}

main{
/* width: 80vw; */
margin: 0 auto;
margin-top: 50px;
}

/* common Style  */
.text-center{
    text-align: center;
}

/* header style */

.banner{
   margin: 30px 60px;
    /* margin: 0 auto; */
    background-image: url("images/Banner\ Image.png");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 170px 344px;
    border-radius: 10px;
}
.banner-subtitle{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 16px;
}
.banner-title{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 600;
}
/* hero section style  */
.hero{
    width: 50%;
    margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.offer-title{
    color: #FF0000;
    font-weight: bold;
    font-size: 60px;
}
.hero-subtitle{
    color: #FF0000;
    font-weight: normal;
    font-size: 13px;
}
.hero-title{
    color: #070211;
    font-size: 30px;
}
.catagory{
    text-align: center;
}
/* party style */
.welcome-party{
    background-image: url('images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    margin: 30px 60px;
    align-items: center;
    padding: 30px 100px;
    border-radius: 10px;
}
.party-title{
    font-size: 40px;
    color: #FFFFFF;
}
.party-description{
    color: #FFFFFF;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 20px;
}
.link{
    color: #FFFFFF;
}